[submodule "services/opencode-adapter"]
	path = services/opencode-adapter
	url = https://github.com/gpakoh/opencode-adapter.git
[submodule "services/quart-core"]
	path = services/quart-core
	url = git@github.com:gpakoh/quart-core.git
[submodule "services/rag-library-service"]
	path = services/rag-library-service
	url = git@github.com:gpakoh/rag-library-service.git
